---
---

<header class='flex border-b border-gray-300 py-3 px-4 sm:px-10 bg-white min-h-[65px] tracking-wide relative z-50'>
  <div class='flex flex-wrap items-center gap-4 max-w-screen-xl mx-auto w-full'>
    <a href="javascript:void(0)">
      Strapi-Astro Integration
    </a>

    <div id="collapseMenu"
      class='max-lg:hidden lg:!block max-lg:w-full max-lg:fixed max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>

      <ul
        class='lg:flex lg:ml-14 lg:gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'>
        <li class='max-lg:border-b max-lg:py-3 px-3'>
          <a href='javascript:void(0)'
            class='font-medium lg:hover:text-blue-700 text-blue-700 block text-[15px]'>Home</a>
        </li>
        <li class='max-lg:border-b max-lg:py-3 px-3'><a href='javascript:void(0)'
          class='font-medium lg:hover:text-blue-700 text-slate-900 block text-[15px]'>About</a>
        </li>
        <li class='max-lg:border-b max-lg:py-3 px-3'><a href='javascript:void(0)'
          class='font-medium lg:hover:text-blue-700 text-slate-900 block text-[15px]'>Blog</a>
        </li>
        <li class='max-lg:border-b max-lg:py-3 px-3'><a href='javascript:void(0)'
          class='font-medium lg:hover:text-blue-700 text-slate-900 block text-[15px]'>Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
